html {
    min-height: 100%
}

body {
    min-height: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    height: 100vh;
}

#main {
    height: 100vh;
}

#top {
    /*background-color: orange;*/
    height: 20%;
    font-size: 6vh;
}

#mid {
    /*background-color: blue;*/
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#bot {
    /*background-color: red;*/
    height: 30%;
}

#date_nl_box {
    float: inherit;
    margin-left: 5%;
    height: 100%;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#date_ar {
    float: right;
    margin-right: 5%;
    height: 100%;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#time {
    font-size: 20vh
}

#time_rem {
    position: absolute;
    right: 7vw;
    font-size: 10vh;
    background-color: #fffec2;
    border-radius: 25px;
    text-align: center;
    width: 25vw;
}

#prayertime_rem {
    height: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
    background-color: green;
    color:white;
}

#prayer_times {
    background-color: #e3e3e3;
    height: 66%;
    /*background-color:orange;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.prayer_time {
    flex: 1;
    text-align: center;
    font-size: 5vh;
}

.prayer_time p {
    margin-top: 0;
    margin-bottom: 0;
}

#fadjr {
    color: darkviolet;
}

#dohr {
    color: orange;
}

#asr {
    color: darkgreen;
}

#magrib {
    color: blue;
}

#isha {
    color: #c6594b;
}

#banner {
    height: 10vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
}

#cover {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0);
    z-index: 2;
    cursor: pointer;
}

#salat_text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 15vh;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#cover_time {
    position: absolute;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, 0%);
    text-align: center;
}