html {
    min-height: 100%
}

body {
    min-height: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    height: 100vh;
}

#main {
    height: 100vh;
}

#top {
    /*background-color: orange;*/
    height: 20%;
    font-size: 6vh;
}

#mid {
    /*background-color: blue;*/
    height: 58%;
    display: flex;
    justify-content: center;
    position: relative;
}

#bot {
    /*background-color: red;*/
    height: 22%;
}

#date_nl_box {
    float: inherit;
    /*margin-left: 5%;*/
    height: 100%;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#date_ar {
    float: right;
    margin-right: 5%;
    height: 100%;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#time {
    font-size: 20vh
}

#time_rem {
    display: flex;
    position: absolute;
    font-size: 8vh;
    background-color: #f2e8e2;
    border-radius: 25px;
    text-align: center;
    top: 30vh;
    width: 65vw;
   /* margin-left: 20vw;
    margin-right: 20vw; */
    padding-top:1vh;
}

#time_rem_prayer_name {
    flex: 1
}

#time_rem_prayer_name_ar {
    flex: 1
}

#prayer_times {
    background-color: #e3e3e3;
    height: 100%;
    /*background-color:orange;*/
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: stretch;
}

.prayer_time {
    flex: 1;
    text-align: center;
    font-size: 5vh;
}

.prayer_time p {
    margin-top: 0;
    margin-bottom: 0;
}

#fadjr {
    background-color:#4a6c94;
    color: white;
    padding-top: 1%;
}

#dohr {
    background-color: gray;
    color: white;
    padding-top: 1%;
}

#asr {
    color: white;
    background-color: slategray;
    padding-top: 1%;
}

#magrib {
    color: white;
    background-color: #2F4F4F;
    padding-top: 1%;
}

#isha {
    color: white;
    background-color: black;
    padding-top: 1%;
}

#banner {
    height: 10vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
}

#cover {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0);
    z-index: 2;
    cursor: pointer;
}

#salat_text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 15vh;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#cover_time {
    position: absolute;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, 0%);
    text-align: center;
}
.tab {
    padding-left: 1%;
}
